<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    </head>

    <body>
        
       
        {% for i in range(0, tane) %}
            {% if i%2==0 %}
            <div class="tek">
              <h1 style="font-family: 'Poppins', sans-serif;"> {{ coin[i] }}: {{ coin_fiyat[i] }}  </h1>
            </div>
            {% else %}
            <div class="cift">
              <h1 style="font-family: 'Poppins', sans-serif;"> {{ coin[i] }}: {{ coin_fiyat[i] }}  </h1>
            </div>
            {% endif %}
            {% endfor %}

        {% for i in range(0, bsc_tane) %}
          {% if i%2==0 %}
          <div class="tek">
            <h1 style="font-family: 'Poppins', sans-serif;"> {{ bsc_coin[i] }}: {{ bsc_coin_fiyat[i] }}  </h1>
          </div>
        {% else %}
          <div class="cift">
            <h1 style="font-family: 'Poppins', sans-serif;"> {{ bsc_coin[i] }}: {{ bsc_coin_fiyat[i] }}  </h1>
          </div>
        {% endif %}
        {% endfor %}
        



        
    </body>
</html>